
//- --------------------------------------------------------
//- Main
//- --------------------------------------------------------

html
  font-size: ($p/16) * 100%
  width: 100%
  *
    box-sizing: border-box

body
  font-family: 'Roboto', sans-serif
  font-weight: 400
  width: 100%

  a
    text-decoration: none

  h1, h2, h3, h4, h5
    margin-top: 0

  h1
    font-size: em($h1)
    font-weight: 300
    color: $grey

    +media('tablet')
      font-size: em($h2)

  h2
    font-size: em($h2)
    font-weight: 300
    color: $grey

    +media('tablet')
      font-size: em($h3)

  h3
    font-size: em($h3)
    font-weight: 300
    color: $mid-grey

    +media('tablet')
      font-size: em($h4)

  h4
    font-size: em($h4)

    +media('tablet')
      font-size: em($h5)

  h5
    font-size: em($h5)

    +media('tablet')
      font-size: em($p)

  p
    font-size: em($p)


  a, button
    &:focus
      outline: none
      -webkit-box-shadow: 0px 0px 4px 0px $focus
      box-shadow: 0px 0px 4px 0px $focus

.wrapper
  text-align: center

button
  border: 0
  box-shadow: 0
  border-radius: 5px
  padding: 25px 40px
  font-size: em($h5)

  &.small
    padding: 10px 25px

  &.green
    background-color: $theme-color
    color: $white

  &.transparent
    background-color: transparent
    border: 2px solid $light-grey
    color: $light
    transition: background-color $transition, color $transition, border-color $transition

    &:hover
      background-color: $theme-color
      color: $white
      border-color: $theme-color

section
  display: block
  width: 100%
  margin: 0 auto
  max-width: 1150px
  padding: 90px 25px

  h1, h3
    max-width: 600px
    margin-left: auto
    margin-right: auto

  h2
    max-width: 920px
    margin-left: auto
    margin-right: auto

/* ---- nav ---- */
.nav
  padding: 55px 25px 15px

  .logo
    float: left

  .cta
    float: right
    font-size: em($h5)

    a
      color: $light
      text-decoration: none

      &:hover
        color: $theme-color


    a, button
      margin: 0 16px


/* ---- slider ---- */
.slider
  width: 100%
  border-top: 1px solid $off-white
  padding: 45px 90px 90px
  text-align: left

  .slick-slide
    outline: none

  +media('tablet')
    padding:  $mob-gutter

  h4, h5
    font-weight: 300

  .slick-arrow
    position: absolute
    top: 50%
    margin-top: -25px
    overflow: hidden
    text-indent: -1000px
    background-color: transparent
    background-image: url('../images/arrow.png')
    background-repeat: no-repeat
    background-position: center center
    width: 50px
    height: 50px
    padding: 0
    z-index: 5
    transition: background-color $transition

    &:hover
      background-color: $theme-color

    &.slick-prev
      left: 0

    &.slick-next
      right: 0
      transform: rotate(180deg)

  .content
    position: relative
    padding-left: 240px
    position: relative
    padding-top: 45px

    +media('tablet')
      padding-left: 0

    .text
      +media('tablet')
        padding: 0 $mob-gutter

  .profile
    width: 240px
    position: absolute
    left: 0
    top: 50px

    +media('tablet')
      width: 100%
      left: 0
      position: relative
      margin-bottom: $mob-gutter

    .avatar,.company-logo
      position: relative
      img
        position: absolute
        opacity: 0
        height: 0
        width: 0

    .avatar
      position: relative
      display: block
      margin: 0 auto
      width: 120px
      height: 120px
      background-size: cover
      border-radius: 5px

      +media('tablet')
        margin: 0 auto
        display: block

      .company-logo
        position: absolute
        width: 50px
        height: 50px
        border-radius: 50%
        overflow: hidden
        background-repeat: no-repeat
        background-size: 50%
        background-color: $white;
        background-position: center center
        top: -25px
        right: -25px
        box-shadow: 2px 2px 5px 0px rgba(238,238,238,1);
