doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='styles/main.min.css')
    link(rel='stylesheet', href='styles/libs.min.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css')
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    .wrapper
      .nav
        img.logo(src="../images/logo.png" alt="m02")

        .cta
          a(href="#") Get free trial
          button.small.transparent Buy Now

      section.hero
        h1 Share your Files with Ease
        h3 We push ourselves to new levels of inspired excellence with each project and we sweat creativity.

      section.buy
        h2 We push ourselves to new levels of inspired excellence with each project and we sweat creativity. You won’t see anything until we’re done drooling at the result.

        button.green Buy now for €23

      #slider.slider

        .slide
          h2 "Just started using awesome Module. Great way to boost the hard designing or prototyping process. Also a perfect tool for creative studios and freelancers”
          h4 Irina Bykova
          h5 Photographer, works with Slack team


        .slide
          h2 "Just started using awesome Module. Great way to boost the hard designing or prototyping process. Also a perfect tool for creative studios and freelancers”
          h4 Jared Krause
          h5 Developer, works with Slack team

        .slide
          h2 "The worst thing I can be is the same as everybody else. I hate that."
          h4 Arnold schwarzenegger
          h5 HR, works with Slack team



    script(src='scripts/vendor/jquery.js')
    script window.jQuery || document.write('<script src="scripts/vendor/jquery.js"><\/script>')
    script(src='scripts/libs.min.js')
    script(src='scripts/main.min.js')
    script(type='text/javascript').
      Main.init();
