doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='styles/main.min.css')
    link(rel='stylesheet', href='styles/libs.min.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css')
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    .wrapper
      .nav
        img.logo(src="../images/logo.png" alt="m02")
        .cta
          a(href="#") Get free trial
          button.small.transparent Buy Now
      section.hero
        h1 Share your Files with Ease
        h3 We push ourselves to new levels of inspired excellence with each project and we sweat creativity.
        button.transparent Buy now | €23
      .graph
        .graph-inner
          canvas#canvas(width="100%")
          #chartjs-tooltip
      .drag-slider-container
        #just-a-slider.dragdealer
          .handle
        p.label Drag to time travel
      section.buy
        h2 We push ourselves to new levels of inspired excellence with each project and we sweat creativity. You won’t see anything until we’re done drooling at the result.
        button.green Buy now for €23
        button.scroll-cta scroll down
      #slider.slider
        .slide
          .content
            .profile
              .avatar(style="background-image: url('../images/Userpic.png')")
                img(src="../images/Userpic.png")
                .company-logo(style="background-image: url('../images/company-logo.png')")
                  img(src="../images/company-logo.png")
            .text
              h2 "Just started using awesome Module. Great way to boost the hard designing or prototyping process. Also a perfect tool for  creative studios and freelancers”
              h4 Irina Bykova
              h5 Photographer, works with Slack team
        .slide
          .content
            .profile
              .avatar(style="background-image: url('../images/jobs.jpg')")
                img(src="../images/Userpic.png")
                .company-logo(style="background-image: url('../images/apple.png')")
                  img(src="../images/company-logo.png")
            .text
              h2 "Sometimes when you innovate, you make mistakes. It is best to admit them quickly, and get on with improving your other innovations.”
              h4 Steve Jobs
              h5 CEO, Apple Inc.
      .license
        section
          h1 Choose Your License
      .footer
        .inner
          .footer-logo
            img(src="images/foot-logo.png")
          ul
            li
              a(href="#") Apps
            li
              a(href="#") Gadgets
            li
              a(href="#") Science
            li
              a(href="#") Nature
            li
              a(href="#") Creative
          .copyright
            span &copy; 2016 Great Simple

    script(src='scripts/vendor/jquery.js')
    script window.jQuery || document.write('<script src="scripts/vendor/jquery.js"><\/script>')
    script(src='scripts/libs.min.js')
    script(src='scripts/main.min.js')
    script(type='text/javascript').
      Main.init();
